@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}
.container header h1 {
  text-align: center;
  font-size: 25px;
  color: white;
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
}
.container header h1 .purple {
  color: #6752f0;
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
}
.container header .fa-bars {
  color: white;
  font-size: 30px;
  cursor: pointer;
}
.container header .nav {
  position: absolute;
  left: -100%;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  height: 100%;
  overflow: hidden;
  transition: all 1s ease;
}
.container header .nav .fa-x {
  font-size: 30px;
  position: relative;
  left: 87%;
  top: 12px;
  color: white;
  cursor: pointer;
}
.container header .nav .nav-list li {
  padding: 20px;
  text-align: center;
}
.container header .nav .nav-list li .list {
  text-decoration: none;
  color: white;
  font-family: "Work Sans", sans-serif;
  font-size: 30px;
  font-weight: 200;
  transition: color 0.5s ease;
}
.container header .nav .nav-list li .list:hover {
  color: #6752f0;
}
.container header .emergence {
  left: 0;
}

@media all and (min-width: 768px) {
  .container header .fa-bars {
    display: none;
  }
  .container header .nav {
    position: static;
  }
  .container header .nav .fa-x {
    display: none;
  }
  .container header .nav .nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .container header .nav .nav-list li {
    padding: 0;
  }
  .container header .nav .nav-list li .list {
    font-size: 20px;
  }
}
footer {
  width: 100%;
  padding: 20px;
}
footer .title-footer {
  border-top: 1px solid rgb(168, 168, 168);
  color: white;
  font-family: "Work Sans", sans-serif;
  font-size: 25px;
  font-weight: 200;
}
footer .title-footer span {
  color: #6752f0;
}
footer .information {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}
footer .information .section-information {
  color: white;
  display: flex;
  flex-direction: column;
}
footer .information .section-information .title {
  font-family: "Work Sans", sans-serif;
  color: rgb(168, 168, 168);
  font-weight: 200;
  text-align: center;
  font-size: 20px;
}
footer .information .section-information a {
  text-decoration: none;
  color: white;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  text-align: center;
  transition: color 0.5s ease;
  cursor: pointer;
}
footer .information .section-information a:hover {
  color: #6752f0;
}

@media all and (min-width: 768px) {
  footer {
    display: flex;
  }
  footer .title-footer {
    width: 20%;
  }
  footer .information {
    border-top: 1px solid rgb(168, 168, 168);
    width: 80%;
    flex-direction: row;
    justify-content: space-around;
  }
  footer .information .section-information {
    justify-content: center;
  }
}
body {
  background-color: black;
}

.container main {
  width: 100%;
}
.container main .principal-title {
  color: white;
  font-family: "Work Sans", sans-serif;
  font-size: 32px;
  text-align: center;
  font-weight: 400;
  padding: 20px;
}
.container main .principal-title span {
  color: #6752f0;
}
.container main .container-slide {
  display: none;
}
.container main .movies {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}
.container main .movies .movie-card {
  border-radius: 5px;
  width: 120px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  box-shadow: 1px 1px 15px #6752f0;
}
.container main .movies .movie-card .image-box {
  width: 100px;
  height: 145px;
  overflow: hidden;
}
.container main .movies .movie-card .image-box img {
  width: 100%;
  height: 100%;
}
.container main .movies .movie-card h2 {
  color: white;
  font-family: "Work Sans", sans-serif;
  font-size: 10px;
  font-weight: 300;
}

@media all and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container main {
    width: 100%;
  }
  .container main h1 {
    display: none;
  }
  .container main .container-slide {
    border: 2px solid red;
    display: block;
    width: 100vw;
    max-height: 70vh;
    overflow: hidden;
  }
  .container main .container-slide .slides {
    border: 1px solid green;
    width: 400vw;
    height: 100%;
    display: flex;
  }
  .container main .container-slide .slides .slide {
    width: 100vw;
    height: 100%;
    position: relative;
  }
  .container main .container-slide .slides .slide img {
    width: 100%;
    height: 100%;
  }
  .container main .container-slide .slides .slide .movie-title {
    color: white;
    position: absolute;
    top: 20%;
    left: 50px;
    font-family: "Work Sans", sans-serif;
    font-size: 80px;
    font-weight: 500;
    z-index: 20;
  }
  .container main .container-slide .slides .slide .movie-description {
    color: rgb(168, 168, 168);
    position: absolute;
    top: 40%;
    left: 50px;
    font-family: "Work Sans", sans-serif;
    font-weight: 200;
    font-size: 30px;
    width: 50%;
  }
  .container main .movies {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 0;
  }
}

/*# sourceMappingURL=main.css.map */
