.container {
    header {
        border: 1px solid green;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        h1 {
            // border: 1px solid red;
            text-align: center;
            font-size: 25px;
            color: white;
            font-family: $principal-font;
            font-weight: 200;
            .purple {
                color: #6752f0;
                font-family: $principal-font;
                font-weight: 200;
            }
        }
        .fa-bars {
            // border: 1px solid red;
            color: white;
            font-size: 30px;
            cursor: pointer;
        }


        .nav {
            // border: 1px solid red;
            // display: none;
            position: absolute;
            left: -100%;
            top: 0;
            bottom: 0;
            width: 100%;
            background-color: black;
            height: 100%;
            overflow: hidden;
            transition: all 1s ease;
            .fa-x {
                // border: 1px solid red;
                font-size: 30px;
                position: relative;
                left: 87%;
                top: 12px;
                color: white;
                cursor: pointer;
            }
            .nav-list {
                // border: 2px solid green;
                li {
                    // border: 1px solid blue;
                    padding: 20px;
                    text-align: center;
                    .list {
                        // border: 1px solid yellow;
                        text-decoration: none;
                        color: white;
                        font-family: $principal-font;
                        font-size: 30px;
                        font-weight: 200;
                        transition: color 0.5s ease;
                        &:hover {
                            color: #6752f0;
                        }
                    }
                }
            }
        }
        // emergence by menu nav
        .emergence {
            left: 0;
        }


    }
}