body {
    background-color: black;
}

.container {
    main {
        // border: 1px solid green;
        width: 100%;
        .principal-title {
            color: white;
            font-family: $principal-font;
            font-size: 32px;
            // border: 1px solid red;
            text-align: center;
            font-weight: 400;
            padding: 20px;
            span {
                color: $principal-color;
            }
        }
        .container-slide {
            display: none;
        }
        .movies {
            // border: 1px solid red;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 25px;
            flex-wrap: wrap;
            .movie-card {
                // border: 1px solid yellow;
                border-radius: 5px;
                width: 120px;
                height: 180px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                padding: 5px;
                box-shadow: 1px 1px 15px $principal-color;
                .image-box {
                    // border: 1px solid green;
                    width: 100px;
                    height: 145px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                h2 {
                    // border: 1px solid red;
                    color: white;
                    font-family: $principal-font;
                    font-size: 10px;
                    font-weight: 300;
                }
            }
        }

    }
}




@media all and (min-width:769px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        main {
            // border: 1px solid red;
            width: 100%;
            h1 {
                display: none;
            }
            .container-slide {
                // border: 1px solid red;
                display: block;
                width: 100vw;
                max-height: 70vh;
                // overflow: hidden;
                .slides {
                    // border: 1px solid green;
                    width: 400vw;
                    max-height: 70vh;
                    display: flex;
                    overflow: hidden;
                    .slide {
                        // border: 1px solid green;
                        width: 100vw;
                        max-height: 70vh;
                        position: relative;
                        z-index: 10;
                        img {
                            // border: 2px solid blue;
                            width: 100%;
                            height: auto;
                        }
                        .movie-title {
                            color: white;
                            position: absolute;
                            top: 20%;
                            left: 50px;
                            font-family: $principal-font;
                            font-size: 80px;
                            font-weight: 500;
                            z-index: 20
                        }
                        .movie-description {
                            // border: 1px solid red;
                            color: $subtitle-color;
                            position: absolute;
                            top: 40%;
                            left: 50px;
                            font-family: $principal-font;
                            font-weight: 200;
                            font-size: 30px;
                            width: 50%;
                        }
                    }
                }
            }
            .movies {
                // border: 1px solid yellow;
                width: 99%;
                flex-direction: row;
                flex-wrap: wrap;
                padding: 20px 0;
                gap: 40px;
                .movie-card {
                    // border: 1px solid yellow;
                    width: 200px;
                    height: 280px;
                    .image-box {
                        // border: 1px solid green;
                        width: 170px;
                        height: 220px;
                    }
                    h2 {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}