body {
    background-color: black;
}
.container {
    header {
        border: 1px solid green;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        h1 {
            // border: 1px solid red;
            text-align: center;
            font-size: 25px;
            color: white;
            font-family: $principal-font;
            font-weight: 200;
            .purple {
                color: #6752f0;
                font-family: $principal-font;
                font-weight: 200;
            }
        }
        .fa-bars {
            border: 1px solid red;
            color: white;
            font-size: 30px;
        }
        .nav {
            border: 1px solid red;
            display: none;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 200px;
            background-color: black;
            .fa-x {
                // border: 1px solid red;
                font-size: 30px;
                position: relative;
                left: 150px;
                top: 20px;
                color: white;
            }
            .nav-list {
                // border: 2px solid green;
                li {
                    // border: 1px solid blue;
                    padding: 20px;
                    text-align: center;
                    .list {
                        // border: 1px solid yellow;
                        text-decoration: none;
                        color: white;
                        font-family: $principal-font;
                        font-size: 30px;
                        font-weight: 200;
                        transition: all 0.5s ease;
                        &:hover {
                            color: #6752f0;
                        }
                    }
                }
            }
        }
    }
}